*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    padding: 5% 15% ;
    font-family: Arial, Helvetica, sans-serif;
}

/* Start Top */

#tren{
    max-height: 354px;
    
}

#tren-left{
    width: 70%;
    text-align: center;
    display: inline-block;
}

#tren-right{
    width: 28%;
    background-color: #f0efef;
    display: inline-block;
    height: 350px;
    vertical-align: top;
    margin-left: -4px;
}

#tren-right-1{
    font-size: 25px;
    padding: 25px 25px 15px 20px;
}

#tren-right-2{
    padding: 0 40px 0px 20px;
}

#tren-right-3{
    padding-left: 20px;
    padding-top: 10px;
}

/* End Top */

/* Start Bot  */

#duoi{
    padding-top: 25px;
}
#duoi-left{
    width: 32%;
    display: inline-block;
    margin-right: 2%;
}

#duoi-mid{
    width: 31%;
    display: inline-block;
    margin-right: 2%;
}

#duoi-right{
    width: 32%;
    display: inline-block;
}

.tieude{
    font-size: 20px;
    font-weight: 550;
    padding-bottom: 20px;
}

.tieude2{
    padding-right: 20px;
}


/* End Bot  */

a{
    color: blue;
    text-decoration: none;
}

