#a1{
    width: 250px;
    background-color: red;
    display: inline-block;
    height: 250px;
    
}

#a2{
    height: 250px;
    width: 250px;
    background: url("/bt2/source/img/1.jpg") no-repeat;
    display: inline-block;
}

#container{
}
