* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    padding: 100px 38%;
}

#head {
    font-size: 28px;
    font-weight: 600;
    padding: 10px 0 20px 10px;
}

#body {
    padding: 10px;
}

.nhap {
    padding: 3px;
}

.nhap #n {
    margin-left: 41%;
}

.nhap #ketqua1 {
    margin-left: 40%;
}

.nhap #ketqua2 {
    margin-left: 31.5%;
}

.nhap #ketqua3 {
    margin-left: 23%;
}

.nhap #ketqua4 {
    margin-left: 9%;
}