* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    padding: 100px 40%;
}

#head {
    font-size: 25px;
    font-weight: 600;
    margin: 10px;
}

#body {
    margin: 10px;
}

.nhap {
    margin-top: 8px;
}

#result {
    margin-top: 8px;
}

#a,
#b,
#c {
    width: 80%;
}

#ketqua {
    width: 79%;
}