* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    padding: 100px 30%;
}

#head {
    font-size: 28px;
    font-weight: 600;
    padding: 10px;
}

#body {
    margin: 10px;
}

.abc {
    display: inline-block;
}

#ketqua {
    margin-top: 10px;
}

#result {
    width: 83%;
    margin-left: 5px;
}