* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    padding: 100px 35%;
}

#head {
    font-size: 28px;
    font-weight: 600;
    margin: 10px;
}

#body {
    margin: 10px;
}

.ab {
    display: inline-block;
    margin-right: 7%;
}

#ketqua {
    margin-top: 10px;
}

#ketqua #result {
    width: 66%;
}